@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{
   --fonte1: verdana, Geneva , tahoma, sans-serif ;
   --fonte2:  "Passion One", sans-serif;
--fonte3: "Sriracha", cursive;
  }
  

*{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: var(--fonte1);
    min-width: 100%;
    background-color: darkgray;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--fonte2);
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p {
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family:var(--fonte3) ;
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
padding-left: 30px;
font-size: 3.5vw;

}
section> p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
    
}
section.imagem{
    
    background-color: rgb(41, 39, 39);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
} 
section.imagem > p {
    padding: 5px;
    display: inline-block;
    background-color:rgba(51, 51, 51, 0.479); 
    color: white;
    text-shadow: 1px 1px 0px black;
}
section> p {

    
    color:  black;
    width: 400px;
}
section#ing01 {
background-image: url('imagens/background001.jpg');
background-position: right center;
background-size: cover;
}
section#ing02{
background-image: url('imagens/background002.jpg');
background-size: cover;
}

footer {
    background-color:rgb(0, 0, 0) ;
    color: white;
    text-align: center;
    padding: 10px;
}